<div class="container">
  <div class="filter-bar ">
    <div class="filter-left">
      <%= image_tag "icons/filter_icon.svg" %>
      <% unless @filters.nil? %>
      <% @filters.each do |filter| %>
      <div class="filter-selected">
       <%= filter.upcase %>
      </div>
      <% end %>
      <% end %>
    </div>
    <div class="filter-right">
      <%= image_tag "icons/sort_icon.svg", id:"sort-icon" %>
    </div>
  </div>
  <div class="content-container">
  <div data-controller="sidebar" class="open-side-bar-container">
    <div data-sidebar-target="openSidebarBtn" data-action="click->sidebar#openSidebar" class="open-side-bar-btn">Filters</div>
    <%# start sidebar %>
    <div class="side-bar" data-sidebar-target="sidebar">
      <% if params[:applied_filter].present? %>
        <%= link_to "Show all", organisations_path %>
      <% end %>
      <h1>Filter bar</h1>
      <%= form_with url: organisations_path, method: :get, id:"filter-form" do  %>
      <h5>Main categories</h5>
      <div class="form-group categories-main">
        <%= fields_for @category do |c| %>
          <% @main_categories.each do |category| %>
            <%= c.check_box :category_id, {:multiple => true, id: category.name }, category.id, false %>
            <%= c.label category.name, category.name.upcase %>
          <% end %>
        <% end %>
      </div>
      <div data-controller="visibility">
        <div class="filter-control" data-action="click->visibility#showTargets" data-visibility-target="showBtn"><%= image_tag "icons/plus_icon.svg" %> Expand selection </div>
        <div class="filter-control" data-action="click->visibility#hideTargets" data-visibility-target="hideBtn" hidden><%= image_tag "icons/minus_icon.svg" %> Minimize selection</div>
        <div class="expand-box" data-visibility-target="hideable" hidden>
        <%# hidden filters %>
        <h5>Other categories</h5>
          <div class="form-group other-categories">
              <%= fields_for @category do |c|%>
                <% @other_categories.each do |category| %>
                    <%= c.check_box :category_id, {:multiple => true, id: category.name }, category.id, false %>
                    <%= c.label category.name, category.name.capitalize, class:"other-category-label" %>
                <% end %>
              <% end %>
          </div>
            <h5>Organisation size</h5>
          <div class="form-group organisation-size">
            <%= radio_button_tag :size, "small" %>
            <%= label_tag :size_small, "Small" %>
            <%= radio_button_tag :size, "medium" %>
            <%= label_tag :size_medium, "Medium" %>
            <%= radio_button_tag :size, "large" %>
            <%= label_tag :size_large, "Large" %>
          </div>
          <h5>Other</h5>
          <div class="form-group volunteering">
            <%= check_box_tag :volunteering, "true" %>
            <%= label_tag :volunteering, "Volunteer opportunities" %>
          </div>
          <div class="form-group internship">
            <%= check_box_tag :internship, "true" %>
            <%= label_tag :internship, "Internship opportunities" %>
          </div>
        </div>
        <%# end of hidden filters %>
      </div>
      <div class="form-group english">
        <%= check_box_tag :english, "true" %>
        <%= label_tag :english, "ENGLISH" %>
      </div>
      <%= hidden_field_tag "applied_filter", :true %>
        <%= button_tag :submit, class:"filter-btn" do%>
            <%= image_tag "icons/filter_white_icon.svg" %>
            <p>Apply filters</p>
        <% end %>
      <% end %>
    </div>
    <%# sidebar end %>
   </div>
    <div class="main-content">
      <% unless @organisations.nil? || @organisations == [] %>
        <div class="org-grid">
            <%= render @organisations %>
        </div>
            <%= will_paginate @organisations %>
      <% end %>
    </div>
  </div>
  <%= link_to "Create new organisation", new_organisation_path %>
</div>
