
<%= form_with model: @organisation do |f|%>
  <div class="form-section">
    <h3>Main info</h3>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :subheading %>
    <%= f.text_field :subheading %>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <%= f.label :size, "Organisation size" %>
    <%= f.select :size, ["small","medium","large"] %>
  </div>
  <div class="form-section">
    <h3>Contact details</h3>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <%= f.file_field :photo %>
  <%= f.label :volunteering, "Volunteering opportunities" %>
  <%= f.check_box :volunteering %>
    <div class="form-section">
      <h3>Tags</h3>
      <%= f.fields_for :search_words do |t|%>
      <%= t.collection_check_boxes :search_word, SearchWord.all, :search_word, :search_word do |b|%>
      <%= b.label %>
      <%= b.check_box  %>
      <% end %>
      <% end %>
    </div>
    <div class="form-section">
      <h3>Categories</h3>
      <%= fields_for :categories do |c|%>
      <%= c.collection_check_boxes :name, Category.all, :name, :name do |b|%>
      <%= b.label  %>
      <%= b.check_box %>
      <% end %>
      <% end %>
    </div>
 <%# will add nested fields_for with checkboxes and add new tag thingy %>
  <%= f.submit "Create organisation" %>
<% end %>
