<div class="navbar-container">
<div class="nav-left">
  <%= link_to "ImpactArc", root_path, class:"nav-link-text nav-logo" %>
  <%= link_to "Project", root_path, class:"nav-link-text" %>
  <%= link_to "Organisations", organisations_path, class: "nav-link-text" %>
</div>
  <div class="nav-right">
    <div data-controller="searchbar" class="search">
      <%= form_with url: organisations_path, method: :get do %>
        <%= text_field_tag :query, params[:query], class: "search-bar", data: {searchbar_target: "searchBar"} %>
        <%= hidden_field_tag "applied_filter", :true %>
        <%= submit_tag "Search", style: "display: none" %>
      <% end %>
      <%= image_tag "icons/search_icon.svg", data: {action:"click->searchbar#animateSearchBar"}, class:"search-icon" %>
    </div>
    <% if user_signed_in? %>
      <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: "log-in normal-btn" %>
    <% else %>
    <%= link_to new_user_session_path do %>
    <button class="log-in normal-btn">Log in</button>
    <% end %>
    <% end %>
  </div>
</div>
